In [2]:
import pandas as pd

# Read the CSV and Excel files
csv_df = pd.read_csv('Dhruvin_cleaned_video_details_final.csv')
xls_df = pd.read_excel('Dhruvin_cleaned_transcripts.xls')  # Changed to .xls

# Merge on the 'id' column
merged_df = pd.merge(csv_df, xls_df, on='id', how='inner')  # Use 'outer', 'left', or 'right' if needed

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('merged_output.csv', index=False)

# Display the first few rows
merged_df.head()

,Unnamed: 0_x,id,title,description,publishedAt,tags,categoryId,defaultLanguage,defaultAudioLanguage,thumbnail_default,...,channel_id,channel_title,channel_description,channel_country,channel_thumbnail,channel_subscriberCount,channel_videoCount,hasTranscripts,Unnamed: 0_y,transcript
0,0,r4loBN9ffls,data analyst jobs are cooked ð this is how yo...,is the data analyst job market too saturated? ...,2025-09-22T14:22:16Z,NaN,28,en,en,https://i.ytimg.com/vi/r4loBN9ffls/default.jpg,...,UCteRPiisgIoHtMgqHegpWAQ,sundas khalid,hey! i am sundas and i help you succeed in the...,US,https://yt3.ggpht.com/ytc/AIdro_kTf9FpyQc2BJ4d...,326000,288,True,50,entrylevel job as a data analyst has become mo...
1,1,NVpxN1vAbNM,h1b is $100k now: how will big tech survive ð,NaN,2025-09-20T15:16:16Z,NaN,28,en-US,en,https://i.ytimg.com/vi/NVpxN1vAbNM/default.jpg,...,UCteRPiisgIoHtMgqHegpWAQ,sundas khalid,hey! i am sundas and i help you succeed in the...,US,https://yt3.ggpht.com/ytc/AIdro_kTf9FpyQc2BJ4d...,326000,288,True,51,this is the biggest news in tech right now yes...
2,2,yg_K45YtzSs,data engineer vs data scientist,here's the difference in less than 60 secs. le...,2025-09-18T14:22:57Z,NaN,28,en,en,https://i.ytimg.com/vi/yg_K45YtzSs/default.jpg,...,UCteRPiisgIoHtMgqHegpWAQ,sundas khalid,hey! i am sundas and i help you succeed in the...,US,https://yt3.ggpht.com/ytc/AIdro_kTf9FpyQc2BJ4d...,326000,288,True,52,difference between a data engineer and a data ...
3,3,xoptBxQvIT0,is big tech a trap? why she quit her $200k sof...,get the free content creator tool kit by hubsp...,2025-09-18T14:15:09Z,data science|data scientist|self-taugh data sc...,28,en-US,en,https://i.ytimg.com/vi/xoptBxQvIT0/default.jpg,...,UCteRPiisgIoHtMgqHegpWAQ,sundas khalid,hey! i am sundas and i help you succeed in the...,US,https://yt3.ggpht.com/ytc/AIdro_kTf9FpyQc2BJ4d...,326000,288,True,53,do you wish you were laid off assume you have ...
4,4,w9k1oXwiOJY,5 data analyst projects you need,how to stand out in the data analyst job marke...,2025-09-15T14:22:30Z,NaN,28,en,en,https://i.ytimg.com/vi/w9k1oXwiOJY/default.jpg,...,UCteRPiisgIoHtMgqHegpWAQ,sundas khalid,hey! i am sundas and i help you succeed in the...,US,https://yt3.ggpht.com/ytc/AIdro_kTf9FpyQc2BJ4d...,326000,288,True,54,how do you actually stand out in the job marke...